<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tracysong.speechdemo.mapper.WishMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="WishResultMap" type="com.tracysong.speechdemo.entity.Users">
        <result column="user_id" property="userId"/>
        <result column="wish_pwd" property="wishPwd"/>
        <result column="place_id" property="placeId"/>
        <result column="add_date" property="addDate"/>
    </resultMap>
</mapper>